/* ==========================================================================
   TABLES
   ========================================================================== */
 
  th {
    padding: 0.5em;
    font-weight: bold;
    text-align: left;
    color: #000;
  }
