/* ==========================================================================
   Air skin
   ========================================================================== */

/* Colors */
$background-color: #313638 !default;
$text-color: #E8E9EB !default;
$muted-text-color: #E0DFD5 !default;
$primary-color: #F06543 !default;
$border-color: $lighter-gray !default;
$footer-background-color: $primary-color !default;
$link-color: #F09D51 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;
$code-background-color: #262a2b;

.page__footer {
  color: #313638 !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
